# Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

service vendor.boot-qti /system/bin/hw/android.hardware.boot-service.qti.recovery
    class early_hal
    user root
    group root
    seclabel u:r:hal_bootctl_default:s0
    interface aidl android.hardware.boot.IBootControl/default
